<div class="task">
    <div class="taskupper">
        <h1><%= nom %></h1>
        <div style="background-color: crimson; color: whitesmoke; border-width: 1px; padding: 5px;">X</div>
    </div>
    <h3><%= detail %></h3>
    <div class="tasklower">
        <div style="background-color: lightblue; color: whitesmoke; border-width: 1px; padding: 3px;
        <% if( type  == 1){ %>display: none;<% } %>"><</div>
       
        <div style="background-color: greenyellow; color: whitesmoke; border-width: 1px; padding: 2px;">Modifier</div>
        
        <div style="background-color: lightblue; color: whitesmoke; border-width: 1px; padding: 3px;<% if( type  == 3){ %>display: none;<% } %>">></div>
        
    </div>
</div>